.grid-buttons-container {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  align-items: center;
  justify-content: center;
  grid-template-areas: 'share-button reset-button';
}

.copy-button {
  grid-area: share-button;
}

.reset-button {
  grid-area: reset-button;
}

.share-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
